

body {
/*  background-color: #D1D1D1;*/
/*  background-image: url('../images/Vintage-Grunge-Wood-Background.jpg');
  background-size: cover;*/
  font-family: 'Libre Baskerville', serif;
}

header {
/*  border: 1px red solid;*/
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  margin: 0 auto 0 auto;
}

section {

}

aside {
}

div {
  margin: 0.5em;
}


/*

INPUT SECTION

*/


.input {
  display: block;
  width: 65em;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  background-color: black;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
  background-image: url('../images/Vintage-Grunge-Wood-Background.jpg');
  background-size: cover;
}

.input-text {
  width: 15em;
  font-size: 2em;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
}

.add {
  margin-top: 1em;
  width: 10em;
  border-radius: 0.3em;
  box-shadow: 0em 0em 0em 0.1em black;
}



/*

HERO SECTION

*/


.hero {
  position: relative;
  padding: 3em;
  margin: 0em auto 0em auto;
}

.aside-left {
  text-align: center;
  width: 35%;
  float: left;
}

.aside-center {
  font-size: 8em;
  text-align: center;
  width: 30%;
  float: left;
  vertical-align: top;
  padding-top: 1em;
  
}

.arrow {
  margin: 0 auto;
  cursor: pointer;
}

.aside-right {
  text-align: center;
  width: 35%;
  float: left;
}


.list-header {
  background-color: black;
  color: white;
  font-size: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
}

.list-content {
  background-color: white;
  padding-top: 1em;
}

.to-get-items {
  
}

.item {
  
}

.something {
  cursor: pointer;
}

.edit-box {
  display: none;
  z-index: 100;
}

.edit-box-text {
  
}

.aside-left li {
  font-size: 1.5em;
  text-align: center;
  display: block;
  padding: 0.3em;
}

.aside-right li {
  font-size: 1.5em;
  text-align: center;
  display: block;
  padding: 0.3em;
}

.highlight {
  background-color: #E8E8E8;
}

.options {
  display: none;
  background-color: none;
  font-size: 1.5em;
}

.trash {
  display: inline-block;
  width: 40%;
  text-align: center;
  background-color: red;
  border-radius: 1em;
}

.edit {
  display: inline-block;
  width: 40%;
  text-align: center;
  background-color: green;
  border-radius: 1em;
}


















