

body {
/*  background-color: #D1D1D1;*/
  background-image: url('../images/Vintage-Grunge-Wood-Background.jpg');
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
}

header {
/*  border: 1px red solid;*/
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  width: 12em;
  margin: 0 auto 0 auto;
}

section {
  border: 1px black solid;
}

aside {
  border: 1px yellow solid;
  margin: 1em;
}

div {
  border: 1px blue solid;
  margin: 0.5em;
}

.hero {
  position: relative;
  height: 40em;
  padding: 3em;
  margin: 0em auto 0em auto;
}

.input {
  display: block;
  text-align: center;
  padding: 2em;
  background-color: black;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
  
}

.input-text {
  width: 15em;
  font-size: 2em;
}

.aside-left {
  display: inline-block;
  text-align: center;
  min-width: 40%;
  margin: 0em auto 0em auto;
}

.aside-center {
  display: inline-block;
  font-size: 5em;
  margin: 0em auto 0em 1.0em;
}

.arrow {
  margin: 0 auto;
}

.aside-right {
  display: inline-block;
  text-align: center;
  float: right;
  min-width: 40%;
  margin: 0em auto 0em auto;
}

.list-header {
  background-color: black;
  color: white;
  font-size: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
}

.list-content {
  background-color: white;
  padding-top: 1em;
}


.aside-left li {
  text-align: left;
  display: block; 
}

.aside-right li {
 text-align: left;
 display: block; 
}
.options {
  display: hidden;
  font-size: 2em;
}

.trash {
  display: inline-block;
  width: 40%;
  text-align: center;
  background-color: red;
  border-radius: 1em;
}

.edit {
  display: inline-block;
  width: 40%;
  text-align: center;
  background-color: green;
  border-radius: 1em;
}

















